# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\LABLK_SOFTWARE_MAKING\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
