<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="app/call" method="post">
        {% csrf_token %}
        <h1>English</h1><input type="text" name="english" value="{{org_txt}}">
        <br><br>
        <button type="submit">Submit</button>
        <br><br>
        <h1>Sinhala</h1>
        <h3>
            sentence is : {{conv_sent}}
        </h3>
        <br><br><br><br><br>
    </form>
</body>
</html>